---
import LinkedinLogo from "../assets/images/linkedin.svg";
import GitHubLogo from "../assets/images/github.svg";
import StackOverflowLogo from "../assets/images/stack-overflow.svg";
import WhatsappLogo from "../assets/images/whatsapp.svg";
import DownloadIcon from "../assets/images/download-solid.svg";
import IconButton from "./IconButton.astro";
import ContactForm from "./ContactForm.astro";
import Button from "./Button";
import Tooltip from "./Tooltip.astro";
---

<section
  id="contact"
  class="font-satoshi bg-dark-800 text-white py-28 px-10 lg:py-40 lg:px-20 xl:px-32 flex flex-col justify-center flex-wrap"
>
  <div class="flex flex-col md:flex-row items-center gap-5 w-full lg:w-auto">
    <div class="flex flex-col flex-1 mb-8">
      <div class="w-full lg:w-auto">
        <h2 class="text-4xl md:text-5xl font-bold mb-8 md:mb-12">Contáctame</h2>
      </div>
      <div class="flex flex-wrap gap-4">
        <p class="mb-4 flex md:flex-col flex-1 items-center md:items-start">
          <span class="font-bold text-xl md:text-3xl mr-4">Correo:</span>
          <a
            href="mailto:israelgs83@gmail.com"
            class="text-white hover:text-primary-500 transition-colors text-xl md:text-2xl"
          >
            israelgs83@gmail.com
          </a>
        </p>
        <div class="mb-4 flex md:flex-col flex-1 items-center md:items-start">
          <span class="font-bold text-xl md:text-3xl">Social:</span>
          <div class="flex">
            <IconButton
              href="https://www.linkedin.com/in/israel-gs/"
              src={LinkedinLogo}
            />
            <IconButton href="https://github.com/israel-gs" src={GitHubLogo} />
            <IconButton
              href="https://stackoverflow.com/users/8997579/israel-gutierrez-salazar?tab=profile"
              className="stroke-white"
              src={StackOverflowLogo}
            />
            <Tooltip text="+51 934090580" position="top">
              <IconButton
                href="https://api.whatsapp.com/send?phone=51934090580"
                className="stroke-white"
                src={WhatsappLogo}
              />
            </Tooltip>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex-1">
          <Button
            href="https://drive.google.com/file/d/1hhB2REI5fNLxssZS2L4wHM81cz0a_PnT/view?usp=sharing"
            element="a"
            onClick={() => {}}
            className="flex justify-center w-full md:w-fit"
          >
            Descargar CV <img class="ml-4 w-[20px]" src={DownloadIcon} alt="" />
          </Button>
        </div>
      </div>
    </div>
    <div class="flex-1 w-full flex justify-center">
      <ContactForm />
    </div>
  </div>
</section>
